<html>
<head>
  <title>Admin Home</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <div class="home-container">
 
    <%- include('nav.ejs') %>
  </div>
</body>
</html>