<h1>Hospital Management</h1>
    <nav>
      <a href="/api/admin/register/">Register Patient</a>
      <a href="/api/admin/view">Patient List</a>
      <a href="/api/admin/search">Search Patient </a>
    
    </nav>
