<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body >
     
  <%- include('nav.ejs') %>
  <div class="main">
    <div class="register-container" >
      <h1>Hospital Management</h1>
      <h1><%= subTitle %></h1>
      <p style="text-align: center;">patient information <%= subject %> sucessfully</p>
      <a href="/api/admin/home" class="btn1">Back to home page</a>
    </div>
    </div>
  </body>
</html>
